
%section#team-blog{:class => section_enabled_class(@team.has_team_blog?)}
  -if !@team.has_team_blog?
    -inactive_box('#team-blog', "Team Blog") do
      Team Blog RSS Feed

  -if can_edit?
    -panel_form_for_section('#team-blog', "Team Blog RSS Feed.") do |f|
      %aside
        -admin_hint do
          URL of your team blog rss/atom feed
      .form-inputs
        %fieldset
          =f.label      :blog_feed, 'RSS URL of your team blog'
          =f.text_field :blog_feed

  %header
    %h2
      From the
      = @team.name
      blog
  -cache ['v2', 'team-blog', @team, @team.has_team_blog?, @team.slug], :expires_in => 1.day do
    .inside.cf
      -@team.blog_posts.first(2).each_with_index do |entry, index|
        %article
          .date{:style => "background-color:#{@team.branding_hex_color}"}
            %p
              =entry.published.try(:day) || (index+1).ordinalize
            %span
              =entry.published && entry.published.strftime("%b")
          %h3
            %a{:href => entry.url, :style => "color:#{@team.branding_hex_color}", :target => :new}
              =entry.title
          %p
            = blog_content(entry)
          %a.read-more{:href => entry.url, :style => "background-color:#{@team.branding_hex_color}", :target => :new}
            Read more
