=content_for :head do
  %title==#{@protip.user.display_name} : #{sanitize(@protip.title)}
  %link{:rel => 'canonical', :href => protip_path(@protip)}
  %meta{:name => :description, :property => "og:description", :content => protip_summary }
  %meta{:property => "og:image", :content => users_image_path(@protip.user)}
  %meta{:name => "viewport", :content => "width=device-width,initial-scale=1.0,maximum-scale=1.0"}

  -if ENV['ENABLE_TWITTER_CARDS']
    %meta{:name => 'twitter:card',         :content => 'summary' }
    %meta{:name => 'twitter:site',         :content => '@coderwall' }
    %meta{:name => 'twitter:title',        :content => sanitize(@protip.title) }
    %meta{:name => 'twitter:url',          :content => protip_url(@protip)}
    %meta{:name => 'twitter:description',  :content => protip_summary }
    -if @protip.has_featured_image?
      %meta{:name => 'twitter:image',      :content => @protip.featured_image }
    -unless @protip.author.twitter_id.blank?
      %meta{:name => 'twitter:creator:id', :content => @protip.author.twitter_id }


-content_for :mixpanel do
  =record_event("viewed protip", :featured => @protip.featured, :distinction => @protip.best_stat[0])

-if params[:old] == 'true'
  %article{:id => @protip.public_id}
    -unless signed_in?
      =link_to('upvote', upvote_protip_path(@protip.public_id), :remote => true, :method => :post, :rel => "nofollow", :class => 'track slide-signup', 'data-action' => 'upvote protip', 'data-from' => 'protip ribbon')
    %header.cf
      -if !signed_in?
        .side-conversion-alert.hide
          %p Where developers come to connect, share, build and be inspired.
          %a.convert-signup.track{:href => '/', 'data-action' => 'view homepage', 'data-from' => 'convert button on protip'} Join Coderwall
      =image_tag(users_image_path(@protip.user), :class => 'avatar')
      %ul.who-and-when
        %li
          %h2
            %a.track{:href => profile_path(@protip.user.username), 'data-action' => 'view user profile', 'data-from' => 'protip author name on top'}
              = @protip.user.display_name
        - if is_admin? or viewing_self? or @protip.total_views > 100
          %li.views
            = @protip.total_views
            Views
      =share_on_twitter(@protip)
    .tip-content
      -#.hide=text_area_tag :protip_markdown, escape_scripts(@protip.body)
      %h1.tip-title=sanitize(@protip.title)
      %ul#tags.tags.cf
        - @protip.topics.each_with_index do |tag, index|
          %li
            %a{:href => "/p/t/#{tag.parameterize}"}
              = tag
            - if is_admin?
              =link_to 'delete', delete_tag_protip_path(@protip.public_id, CGI.escape(tag)), :method => :post, :class => "delete"
        - if is_admin? && @protip.orphan?
          %li.orphan Orphan
      .tip-body
        #body=sanitize(formatted_protip(@protip))
        - if is_admin?
          %ul.admin-links
            %li
              =link_to '', flag_protip_path(@protip), :method => :post, :remote => true, :class => (@protip.flagged? ? 'flagged' : "") + " flag"
            %li
              =link_to '', queue_protip_path(@protip, :queue => 'hackernews'), :method => :post, :remote => true, :class => (@protip.queued_for?(:hackernews) ? 'queued' : "") + " queue"
            %li
              =link_to '', feature_protip_path(@protip), :method => :post, :remote => true, :class => (@protip.featured? ? 'featured' : "") + " feature"
            %li
              %p.reviewed
                =protip_reviewer(@protip)

        -if is_admin? or (signed_in? && @protip.owned_by?(current_user))
          %a.add-tag{:href => edit_protip_path(@protip.public_id)} Edit Protip
      = upvote_link(@protip, "upvote")
      - authors_team = @job && @protip.author.belongs_to_team?(@job.team)

      -if @protip.user.about.blank?
        %footer.about-footer.no-about.cf
          %ul.links.cf
            %li=link_to('View profile',  profile_path(@protip.user.username),    :class => 'view-profile track', 'data-action' => 'view user profile', 'data-from' => 'protip about (view profile)')
            %li=link_to('View pro tips', user_protips_path(@protip.user.username), :class => 'view-protips track',  'data-action' => 'view user protips', 'data-from' => 'protip about (view pro tips)')
            %li
              - follow = follow_or_following(@protip.user)
              =link_to "#{follow} #{@protip.user.short_name}", follow == "follow" ? follow_user_path(@protip.user.username) : '', :method => :post, :remote => true, :class => "#{follow}-user track", 'data-action' => 'follow user', 'data-from' => 'protip about (follow xxx)'
      -else
        %footer.about-footer.cf
          .about
            %h4==About #{@protip.user.short_name}
            %p
              =@protip.user.about
              -if @protip.user.team
                Member of team
                =link_to(@protip.user.team.name, friendly_team_path(@protip.user.team), :class => "track", 'data-action' => 'view team', 'data-from' => 'protip job (member of team xxx)', 'data-properties' => {"author's team" => authors_team}.to_json)
          %ul.links.cf
            %li=link_to('View profile',  profile_path(@protip.user.username),    :class => 'view-profile track', 'data-action' => 'view user profile', 'data-from' => 'protip about (view profile)')
            %li=link_to('View pro tips', user_protips_path(@protip.user.username), :class => 'view-protips track', 'data-action' => 'view user protips', 'data-from' => 'protip about (view pro tips)')
            %li
              - follow = follow_or_following(@protip.user)
              =link_to "#{follow} #{@protip.user.short_name}", follow == "follow" ? follow_user_path(@protip.user.username) : '', :method => :post, :remote => true, :class => "#{follow}-user track", 'data-action' => 'follow user', 'data-from' => 'protip about (follow xxx)'
          - if @job
            .work-for-wrap
              .works-for.cf
                .left
                  %a.team-ava.track{:href => team_job_path(@job.team), 'data-action' => 'view team jobs', 'data-from' => 'job on protip (team avatar)', 'data-properties' => {"author's team" => authors_team}.to_json}
                    =image_tag(@job.team.avatar_url)
                .right
                  %p
                    - if authors_team
                      = @protip.author.short_name
                      works for
                      %a.team.track{:href => team_job_path(@protip.author.team), 'data-action' => 'view team jobs', 'data-from' => 'job on protip (team name)', 'data-properties' => {"author's team" => authors_team}.to_json}
                        = @protip.user.team.name
                      ==&ndash; want to join them as a
                      = succeed "?" do
                        %a.position.track{:href => team_job_path(@protip.user.team), 'data-action' => 'view team jobs', 'data-from' => 'job on protip (job title)', 'data-properties' => {"author's team" => authors_team}.to_json}
                          =@job.title
                    - else
                      - adjective = ["is amazing", "is awesome", "has a great engineering team"].sample
                      Calling all
                      == #{@job.title.pluralize}.
                      %a.team.track{:href => team_job_path(@job.team), 'data-action' => 'view team jobs', 'data-from' => 'job on protip (team name)', 'data-properties' => {"author's team" => authors_team, 'adjective' => adjective}.to_json}
                        = @job.team.name
                      = adjective
                      and is
                      %a.position.track{:href => team_job_path(@job.team), 'data-action' => 'view team jobs', 'data-from' => 'job on protip (hiring)', 'data-properties' => {"author's team" => authors_team, 'adjective' => adjective}.to_json}
                        hiring

    -if !@next_protip.nil?
      -next_protip = Protip::SearchWrapper.new(@next_protip)

      %a.main-link.track{:href => protip_or_link_path(next_protip), 'data-action' => 'next protip', 'data-from' => 'protip', 'data-properties' => {'mobile' => false}.to_json}
        %article.next-tip{:class => dom_class(next_protip), :id => next_protip.public_id}

  %section.comments
    %h2.comments-header Comments
    %ul.comment-list
      = render @comments

    = render 'comments/add_comment'


  - if !next_protip.nil? and mobile_device?
    %a.next-tip-mob.track{:href => protip_or_link_path(next_protip), 'data-action' => 'next protip', 'data-from' => 'protip', 'data-properties' => {'mobile' => true}.to_json}
      Next pro tip

-else
  #x-active-preview-pane
    -if !signed_in?
      .side-conversion-alert.hide
        %p Where developers come to connect, share, build and be inspired.
        %a.convert-signup.track{:href => '/', 'data-action' => 'view homepage', 'data-from' => 'convert button on protip'} Join Coderwall
    =render :partial => 'cacheable_protip', :locals => {:protip => @protip, :mode => 'fullpage', :include_comments => true, :job => @job}
