=content_for :javascript do
  =javascript_include_tag 'https://www.google.com/jsapi'
  =javascript_include_tag 'underscore'
  =javascript_include_tag 'search'
.navbar.span10
  .navbar-inner
    .container
      %a.brand{:href => "#"}
        =image_tag 'icon.png'
        Coderwall
        %h5.subscript Teams
      #worldmap.span2
        =image_tag 'world-map-small.png'
      %ul.nav.country-nav
        %li.dropdown
          %a.dropdown-toggle{ 'data-toggle' => "dropdown"}
            Countries
            %b.caret
          %ul.dropdown-menu
            - cache('most_active_countries') do
              - Team.most_active_countries.each_with_index do |country, rank|
                %li.country-choice.span3
                  = link_to "##{country.name}", :class => "country-link", 'data-code' => "#{country.code}", 'data-rank' => "#{rank+1}" do
                    .country-name=country.name
                    .country-flag
                      .flag{:class => "flag-#{country.code.downcase}"}
      =form_for :search, :html => {:class => "navbar-search pull-right span5"}, :remote => true do |f|
        .input-prepend.span5
          =image_tag 'team-avatar.png', :class => "search-icon"
          =f.text_field :q, :class => "search-query", 'placeholder' => "Search All Teams", :id => "teams-search"

