-content_for :page_title do
  ==#{@mayor.display_name} unlocked #{@badge.display_name}

-content_for :mixpanel do
  =record_event('viewed achievement', :viewing_self => viewing_self?, :achievement => "mayor")

.achievement-unlocked
  .tip-content
    %h1 Achievement Unlocked
    #award=image_tag(@badge.image_path)
    %h2=@badge.display_name
    -if viewing_self?
      #plaque
        %p
          ="Congrats, you leveled up! You've unlocked the #{@badge.display_name} achievement for #{@badge.for}"
          ==#{@badge.friendly_percent_earned} of developers on Coderwall have earned this.
      .clear.center
        #getyourachievements
          =custom_tweet_button 'Share on Twitter', {:text => "Achievement Unlocked: #{@badge.display_name}", :via => 'coderwall'}, {:class => 'clickme first track', 'data-action' => 'share achievement', 'data-from' => 'achievement', 'data-properties' => {'achievement' => 'mayor'}.to_json, :action => 'unlocked_achievement'}
          .see-all
            -if @badge.next
              =link_to 'See Next Achievement', user_achievement_path(:username=>@user.username,:id=>@badge.next)
            -else
              =link_to 'View your profile', badge_path(:username => @mayor.username)
    -else
      #plaque
        %p
          ==#{@mayor.display_name} unlocked the #{@badge.display_name} achievement for #{@badge.for}
          ==#{@badge.friendly_percent_earned} of developers on Coderwall have earned this.
        =link_to "See #{@mayor.display_name}'s other achievements", badge_path(:username => @mayor.username), :class => 'seeprofile track', 'data-action' => 'view user achievements', 'data-from' => 'achievement', 'data-properties' => {'achievement' => 'mayor'}.to_json
        .clear
      .clear.center
        #getyourachievements=link_to 'See Your Achievements', root_path, :class => 'clickme track', 'data-action' => 'view own achievements', 'data-from' => 'achievement', 'data-properties' => {'achievement' => 'mayor'}.to_json
        .see-all=link_to("View #{@mayor.display_name}'s profile", badge_path(:username => @mayor.username), 'data-action' => 'view user profile', 'data-from' => 'achievement', 'data-properties' => {'achievement' => 'mayor'}.to_json)
