- font_family = "font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'"
- main_content_grey = "padding: 30px 60px; background: #ece9e2; #{font_family};"
- paragraph = "font-size: 14px; line-height: 22px; #{font_family};"
- h1 = "-webkit-font-smoothing: antialiased; color: #393939; font-size: 26px; margin-bottom: 20px; text-align: center; margin: 0; line-height: 100%; font-size: 28px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';"
- list_item = "font-size: 14px; line-height: 22px;"
- content_head = "padding: 30px 60px; border-bottom: solid 1px #d4cfc4; #{font_family};"
- anchor = "color: #3d8dcc; text-decoration: none; font-size: 14px;"

%tr
  %td.content-head{style: content_head}
    %h1{style: h1}
      Good news friend, your Coderwall is up!
%tr
  %td.main-content-grey{style: main_content_grey}
    %p{style: paragraph}
      We’re thrilled to welcome you to the Coderwall community. Let’s get started!
    %p{style: paragraph}
      Here are three ways to enhance your Coderwall experience:
      %ol
        - if @user.on_team?
          - invite_to_team_url = invitation_url(@user.team.id, r: CGI.escape(@user.referral_token))
          %li{style: list_item}
            == Invite others to team #{@user.team.name}. Share this private link with your coworkers so they can join your team: #{link_to(invite_to_team_url, invite_to_team_url)}
        - else
          %li{style: list_item}
            = "#{link_to("Reserve your company's team page", new_team_url, style: anchor)}. Invite at least 3 coworkers to have your team show up on the #{link_to('leaderboard', leaderboard_url, style: "color: #3d8dcc; text-decoration: none; font-size: 14px;")}.".html_safe

        %li{style: list_item}
          Check out the
          = link_to('trending', 'https://coderwall.com/trending', style: anchor)
          pro tips and
          = link_to('share your own', 'https://coderwall.com/p/new', style: anchor)
        %li{style: list_item}
          == Display your achievements on your personal website or blog using our #{link_to('badge widget', api_url, style: anchor)}.
%tr
  %td.main-content-grey{style: main_content_grey}
    %h1{style: h1}
      Love free swag?
    %p{style: paragraph}
      Level up your wardrobe with this free limited edition Coderwall tee from our friends at New Relic.
    %p{style: "#{paragraph}; text-align: center;"}
      :erb
        <a href="https://coderwall.com/team/new-relic"><img src="https://d3levm2kxut31z.cloudfront.net/assets/relic-tee-780a53200fbd09b7be640692b021b3a7.png" alt="free t-shirt"></a>
    %p{style: "#{paragraph}; text-align: center;"}
      :erb
        <a href="https://coderwall.com/team/new-relic" style="<%= anchor %>">Test drive New Relic for free and get a Coderwall tee</a>
%tr
  %td.main-content-grey{style: main_content_grey}
    %h1{style: h1}
      Have ideas to improve Coderwall?
    %p{style: paragraph}
      :erb
        Coderwall is a community supported, open product built on <a href="http://assemblymade.com" style="<%= anchor %>">Assembly</a>. That means anyone (you!) can build new features, improve old code and help Coderwall grow. Every month revenue is shared among everyone who helps build and maintain it. Visit Coderwall on Assembly to learn more.
    %p{style: paragraph}
      :erb
        <a href="https://assemblymade.com/coderwall" style="<%= anchor %>">Check out Coderwall on Assembly</a>
