%h1 Failed jobs

%div= "Showing page #{@page} of #{@total_failed} total results."
= link_to "Home", admin_root_path
= link_to "<< Prev page", admin_failed_jobs_path(:page => @page - 1, :per_page => @per_page)
= link_to "Next page >>", admin_failed_jobs_path(:page => @page + 1, :per_page => @per_page)
- @jobs.each do |job|
  %div.job{:style => "padding: 4px; border: 1px solid #ddd; background-color: #eee; margin-bottom: 10px;"}
    - job.last_error.split(/\\n/).each do |error|
      %div
        %code= error