%article.blog-post
  %h1.post-title
    %a{:href => blog_post_path(blog_post.id)}
      = blog_post.title
  %section.post-details
    = image_tag "icon.png", :width => 15, :style => "vertical-align: middle"
    %a.badge-link{:href => badge_path(blog_post.author)}= blog_post.author
    on
    %span= blog_post.posted.to_s(:long)
    %a{:href => blog_post_path(blog_post.id) + "#disqus_thread", :'data-disqus-identifier' => blog_post.id}
  %section.post-content
    = blog_post.html
  %div#disqus_thread
  %noscript
    Please enable JavaScript to view the
    %a{:href => "https://disqus.com/?ref_noscript"} comments powered by Disqus.
  - if @comments
    %a.dsq-brlink{:href => "https://disqus.com"}
      blog comments powered by
      %span.logo-disqus Disqus
