=content_for :body_id do
  blog

- content_for :head do
  = render :partial => 'disqus_comment_count'
  = render :partial => 'disqus_comment_thread', :locals => { :blog_post => @blog_post }

- content_for :mixpanel do
  = record_event('viewed blog', :post => @blog_post.title)

- content_for :title do
  = "coderwall.com: Blog - #{@blog_post.title}"

%section{:class => "blog"}
  .panel
    .inside-panel-align-left
      = render @blog_post, :locals => { :comments => true }

