= content_for :javascript do
  = javascript_include_tag '//s3.amazonaws.com/cdn.getchute.com/media-chooser.min.js'
  = javascript_include_tag 'settings'
  = javascript_include_tag 'username-validation'

- content_for :mixpanel do
  = record_view_event('settings')

= content_for :body_id do
  member-settings

#lflf
  %h1.big-title
    - if @user == current_user
      Your Settings
    - elsif admin_of_premium_team?
      == #{@user.display_name}'s #{@user.team.name} Profile

  - if @user == current_user
    %ul.member-nav
      %li=link_to('Profile', '#basic', class: 'filternav your-profile active')
      - if @user.on_premium_team?
        %li= link_to("Team Profile", '#team', class: 'filternav team-prefs')
      %li= link_to('Social links', '#social', class: 'filternav social-bookmarks')
      %li= link_to('Jobs', '#jobs', class: 'filternav personalize')
      %li= link_to('Email', '#email', class: 'filternav email-prefs')

  .panel.cf
    .inside-panel-align-left
      = form_for @user, html: { multipart: true } do |form|

        - if @user == current_user
          #basic_section.editsection
            .account-box
              = render partial: 'users/link_accounts', locals: {form: form}
              %p.neverpost We'll never post without your permission

            =render "shared/error_messages", target: @user

            %p.special-p Avatar:
            .special-setting
              = image_tag(@user.avatar_url, class: 'avatar')
              .div
                = form.check_box :remove_avatar
                = form.label :remove_avatar, "Remove Avatar", class: 'checkbox-label'
              .div
                = form.file_field :avatar
                = form.hidden_field :avatar_cache

            .setting
              = form.label :name, 'Name:'
              = form.text_field :name


            .setting
              = form.label :title, 'Title:'
              = form.text_field :title
            .setting
              = form.label :company, 'Company:'
              = form.text_field :company
            .setting
              = form.label :location, "Location: <em>required</em>".html_safe
              = form.text_field :location
            .setting
              = form.label :username, "Username: <em>required</em>".html_safe
              = form.text_field :username, 'data-validation' => usernames_path, :maxlength => 15
              #username_validation
              %p Changing your username will make your previous username available to someone else.
            .setting
              = form.label :about, "Bio:"
              = form.text_area :about
            -#.save=submit_tag 'Save', class: 'button'

            .left
              %p Personalize your profile by uploading your own background photo. Please note hipsterizing your photo can take up to one or two minutes.
              - if !@user.banner.blank?
                = image_tag(@user.banner_url)
                .div
                  = form.check_box :remove_banner
                  = form.label :remove_banner, "Remove Banner", class: 'checkbox-label'
              .div
                = form.file_field :banner
                = form.hidden_field :banner_cache

              .setting
                = form.label :api_key, 'API Key:'
                = form.label @user.api_key
            .left
              .delete
                %p
                  Deleting your account is permanent and will make your username available to someone else. If you would still like to delete your account,
                  = link_to "click here.", "/delete_account"
              .save=submit_tag 'Save', class: 'button'


        -if @user == current_user
          #email_section.editsection.hide
            .left
              = render "shared/error_messages", target: @user
              .setting
                = form.label :email, 'Email Address:'.html_safe
                = form.text_field :email

              .setting
                = form.check_box :notify_on_award
                = form.label :notify_on_award, 'Receive a notification when you are awarded a new achievement'.html_safe

              .setting
                = form.check_box :notify_on_follow
                = form.label :notify_on_follow, 'Receive a notification when someone follows you'.html_safe

              .setting
                = form.check_box :receive_newsletter
                = form.label :receive_newsletter, 'Receive infrequent but important announcements'.html_safe

              .setting
                = form.check_box :receive_weekly_digest
                = form.label :receive_weekly_digest, 'Receive weekly brief'.html_safe

              .save=submit_tag 'Save', class: 'button'

        -if @user == current_user
          #social_section.editsection.hide
            .left
              = render "shared/error_messages", target: @user
              .setting
                = form.label :blog, 'Blog:'
                = form.text_field :blog

              .setting
                = form.label :bitbucket, 'Bitbucket username:'
                = form.text_field :bitbucket

              .setting
                = form.label :codeplex, 'CodePlex username:'
                = form.text_field :codeplex

              .setting
                = form.label :forrst, 'Forrst username:'
                = form.text_field :forrst

              .setting
                = form.label :dribbble, 'Dribbble username:'
                = form.text_field :dribbble

              .setting
                = form.label :speakerdeck, 'Speakerdeck username:'
                = form.text_field :speakerdeck

              .setting
                = form.label :slideshare, 'Slideshare username: <em>(http://www.slideshare.net/YOUR_USERNAME/newsfeed)</em>'.html_safe
                = form.text_field :slideshare

              .setting
                = form.label :stackoverflow, 'Stackoverflow id: <em>(http://stackoverflow.com/users/YOUR_ID/name)</em>'.html_safe
                = form.text_field :stackoverflow

              .setting
                = form.label :google_code, 'Google Code id: <em>(http://code.google.com/u/YOUR_ID/</em>'.html_safe
                = form.text_field :google_code

              .setting
                = form.label :sourceforge, 'SourceForge id: <em>(http://sourceforge.net/users/YOUR_ID/</em>'.html_safe
                = form.text_field :sourceforge

              .setting
                = form.label :favorite_websites, 'Favorite Websites: <em>comma separated list of sites you enjoy visiting daily</em>'.html_safe
                = form.text_field :favorite_websites

              .save= submit_tag 'Save', class: 'button'

        -if @user.on_premium_team? || admin_of_premium_team?
          #team_section.editsection{class: admin_of_premium_team? ? '' : 'hide'}
            %p.team-title
              Updating team
              = link_to(@user.team.name, teamname_url(slug: @user.team.slug, full: :preview))
              settings
            .left
              = render "shared/error_messages", target: @user
              .special-setting.explaination
                %p.number.one
                  1
                %p.number.two
                  2
                %p.number.three
                  3
                %p.number.four
                  4
                %h3.name
                  The users name
                %p.bio
                  The users bio Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                %label
                  This graphic shows what area of your team profile you are upadting
                = image_tag("prem-profile-explaination.jpg")

              .special-setting.name-bio
                %p
                  This infomation is taken from your min profile name and bio, change them in the
                  %a{href: '/'}
                    profile section.
                %p.number.one
                  1
              .special-setting
                %p.number.two
                  2
                = form.label :team_responsibilities, "What you work on at #{@user.team.name} (1 or 2 short sentences)"
                = form.text_area :team_responsibilities

              .special-setting
                %p= "Optionally select unique avatar for the #{@user.team.name} team page. If you do not select an avatar it will default to the same avatar on your profile."
                = form.hidden_field :team_avatar
                .preview
                  = image_tag(@user.team_avatar) unless @user.team_avatar.blank?
                  = link_to('Choose Photo','#', class: 'photo-chooser','data-input' => 'user_team_avatar', 'data-fit-w' => 80, 'data-fit-h' => 80)

              .special-setting.team-profile-img
                %p.number.three
                  3
                %p= "Optionally select unique background image for the #{@user.team.name} team page. If you do not select a background photo, it will default to the same banner that is on your personal profile."
                = form.hidden_field :team_banner
                .preview
                  = image_tag(@user.team_banner) unless @user.team_banner.blank?
                  = link_to('Choose Photo','#', class: 'photo-chooser','data-input' => 'user_team_banner','data-fit-w' => 478, 'data-fit-h' => 321)

              .save= submit_tag 'Save', class: 'button'

        .clear

      #jobs_section.editsection.hide
        %p Upload your resume. It will be sent automatically to positions you apply for through Coderwall.
        .left
          .setting
            .current-resume
              - if current_user.has_resume?
                = link_to 'Your current resume', current_user.resume_url, class: 'track', 'data-action' => 'upload resume', 'data-from' => 'job application'
            
            = form_tag(resume_uploads_url, method: :post, multipart: true) do
              .upload-resume
                = file_field_tag :resume
                = hidden_field_tag :user_id, current_user.id
                .save
                  = submit_tag "Save", class: "button"
