%h1 test

.left{:style => "float:left; margin-right: 50px;"}
  %h2==Active Users: #{User.active.count}
  %h2==Signed up Today: #{User.where("created_at > ?", 24.hour.ago).count}
  %h2==Visited Today: #{User.active.where("last_request_at > ?", 24.hour.ago).count}
  %h2==Pending Users: #{User.pending.count}

.left{:style => "float:left;"}
  %h2==Failed Jobs: #{Delayed::Job.where('last_error IS NOT NULL').count}
  %h2==Pending Jobs: #{Delayed::Job.where('last_error IS NULL').count}
.clear
=render :partial => 'signups'
.clear
.left{:style => 'margin-top: 30px;'}
  %h2==Cache Stats: #{Rails.cache.stats}

=image_tag 'mediaWhiteBackground.png'