%footer#footer
  .inside-footer.cf
    #tweetbtn
      :erb
        <a href="https://twitter.com/coderwall" class="twitter-follow-button" data-show-count="false" data-width="300">Follow @coderwall</a>
        <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
    %nav#footer-nav
      %ul.footer-links.cf
        %li= link_to('Contact',             contact_us_path)
        %li= link_to('API & Hacks',         api_path)
        %li= link_to('FAQ',                 faq_path)
        %li= link_to('Privacy Policy',      privacy_policy_path)
        %li= link_to('Terms of Service',    tos_path)
        %li= link_to('Jobs',                '/jobs')
        %li.employers= link_to('Employers', employers_path)
        =yield :footer_menu

      %ul.copyright
        %li Copyright &copy; 2015 Assembly Made, Inc. All rights reserved.
      %ul.credits
        %li= yield :credits
      %ul.mixpanel
        %li
          :erb
            <a href="https://mixpanel.com/f/partner"><img src="https://mixpanel.com/site_media/images/partner/badge_light.png" alt="Real Time Web Analytics" /></a>
= javascript_include_tag 'application'
= render partial: 'shared/mixpanel_properties'
= yield :javascript
:erb
  <!--[if lt IE 9]>
  <%= javascript_include_tag('html5shiv.js') %>
  <![endif]-->
