= content_for :javascript do
  = render :partial => 'shared/pubnub'
  = javascript_include_tag 'protips'
  = javascript_include_tag 'ember/dashboard'

  :coffeescript
    $ ->
      Coderwall.activityFeedController.loadSubscriptions(#{@subscribed_channels})
      Coderwall.activityFeedController.set('username', '#{current_user.username}')
      Coderwall.activityFeedController.set('skills', #{current_user.skills.map(&:name)})
      Coderwall.activityFeedController.set('achievements', #{current_user.badges.map(&:display_name)})
      Coderwall.activityFeedController.set('profileUrl', '#{profile_path(current_user.username)}')
      Coderwall.activityFeedController.set('protipsUrl', '#{my_protips_path}')
      Coderwall.activityFeedController.set('connectionsUrl', '#{followers_path(current_user.username)}')
      Coderwall.activityFeedController.loadEvents( #{current_user.activity.to_json})
      Coderwall.activityFeedController.releaseUnreadActivities()
      Coderwall.activityFeedController.updateStats(#{@stats})
      Coderwall.activityFeedController.start()

=content_for :body_id do
  activity

%section.activity
  #activity_feed

.sidebar
  %aside.profile-sidebar
    %ul.profile-details
      %li.activity-view.cf
        .user-details
          %h4
            =current_user.display_name
          %ul
            %li
              %a.view-tips{:href => my_protips_path}
                View upvoted protips

        =image_tag(users_image_path(current_user), :class => 'profile-avatar', :width => 80, :height => 80)
        -#.coderwall-level
        -#  %p coderwall level 1
      %li.stats.cf
        #stats

  %aside.secondary-sidebar

    %a.add-tip.track{:href => new_protip_path, 'data-action' => 'create protip', 'data-from' => 'dashboard sidebar'}
      Share a protip

    - featured_protips = latest_relevant_featured_protips(4)
    %h2 Featured Pro tips
    %ul.tips-list
      - if current_user.networks.blank?
        %li.no-networks
          %p
            You do not yet belong to any networks. To see the best protips featured here,
            = link_to "join some networks.", networks_path
          %p New & trending pro tips from networks you are a member of will appear on your feed to the left.

      - else
        -featured_protips.each do |protip|
          %li{:style => right_border_css(protip.networks.first.try(:slug))}=link_to protip.title, protip_path(protip.public_id), 'data-action' => 'view protip', 'data-from' => 'dashboard (featured protips)', :class => 'track'

