Good news friend, your Coderwall is up! Don't worry, that feeling of excitement and exhilaration is normal. Your profile looks pretty sweet, go check it out here: <%= badge_url(@user.username) %>


Here is how you can get started:

<% if @user.on_team? %>
* Invite others to team <%= @user.team.name %>. Share this private link with your coworkers so they can join your team: <%= invitation_url(@user.team.id, :r => CGI.escape(@user.referral_token)) %>
<% else %>
* Reserve your company's team page. Invite at least 3 coworkers to have your team show up on the leaderboard: <%= leaderboard_url %>
<% end %>
* Check out the trending pro tips and share your own. <%= link_to('trending', 'https://coderwall.com/trending') %>
* Display your achievements on your personal website or blog using our javascript badge: <%= api_url %>

Link free swag?

<a href="https://coderwall.com/team/new-relic">Test drive New Relic for free and get a Coderwall tee</a>

Have ideas to improve Coderwall?

Coderwall is a community supported, open product built on <a href="http://assemblymade.com">Assembly</a>. That means anyone (you!) can build new features, improve old code and help Coderwall grow. Every month revenue is shared among everyone who helps build and maintain it. Visit Coderwall on Assembly to learn more.

<a href="https://assemblymade.com/coderwall">Check out Coderwall on Assembly</a>

Matt & the Coderwall team
P.S. Make sure to follow us on twitter (@coderwall)

<%= NotifierMailer::SPAM_NOTICE %>
