%li.cf
  %a.job.track{ href: job_path(slug: opportunity.team.slug, job_id: opportunity.public_id), 'data-action' => 'view job', 'data-from' => 'jobs page', 'data-properties' => { team: opportunity.team.name, public_id: opportunity.public_id }.to_json }
    %h2= opportunity.title
    %h3
      = opportunity.opportunity_type
      - if opportunity.remote?
        and remote
    %p= opportunity.description
  .team.cf
    .details
      %a.team-name.track{ href: friendly_team_path(opportunity.team), 'data-action' => 'view job', 'data-from' => 'jobs page', 'data-properties' => { team: opportunity.team.name, public_id: opportunity.public_id}.to_json }
        %h4= opportunity.team.name
      %p.location= opportunity.locations.first || "Worldwide"
      %p.tag-line= opportunity.team.hiring_tagline || opportunity.team.about
    .team-avatar= link_to image_tag(opportunity.team.avatar_url), friendly_team_path(opportunity.team)
