<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>A message from Coderwall</title>
  <style type="text/css">
      @media only screen and (max-device-width: 480px) {
          div[class="header"] {
              font-size: 16px !important;
          }

          table[class="table"], td[class="cell"] {
              width: 300px !important;
          }

          table[class="promotable"], td[class="promocell"], td[class="contentblock"] {
              width: 325px !important;
          }

          td[class="footershow"] {
              width: 300px !important;
          }

          table[class="hide"], img[class="hide"], td[class="hide"] {
              display: none !important;
          }

          img[class="divider"] {
              height: 1px !important;
          }

          td[class="logocell"] {
              display: none;
          }

          img[id="screenshot"] {
              width: 325px !important;
              height: 127px !important;
          }

          img[class="galleryimage"] {
              width: 53px !important;
              height: 53px !important;
          }

          p[class="reminder"] {
              font-size: 11px !important;
          }

          h4[class="secondary"] {
              line-height: 22px !important;
              margin-bottom: 15px !important;
              font-size: 18px !important;
          }

      }
  </style>
</head>

<body bgcolor="#48494e" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#48494e;-webkit-text-size-adjust:none;font-family:'helvetica,arial,sans-serif'">

<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#48494e">
  <tr>
    <td bgcolor="#48494e" width="100%">

      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
        <tr>
          <td width="600" class="cell">


            <table width="600" cellpadding="0" cellspacing="0" border="0" class="table" style='margin-top:20px;margin-bottom:20px'>
              <tr>
                <td width="600" bgcolor="#48494e" class="logocell">
                  <center>
                    <img id='messageLogo' src="<%= image_path('email/email-logo.jpg') %>" height='auto' style="height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;width: 211px;margin: 0 auto;" alt=""/>
                  </center>
                </td>
              </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" style="border: none;background: #fff;width: 600px;margin: 0 auto 20px auto;border-radius: 6px;-moz-border-radius:6px;-webkit-border-radius: 6px;">
              <%= yield %>

              <tr>
                <td style="padding: 30px 60px;background: #ece9e2;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';">
                  <p style="font-size: 13px;line-height: 0px;">
                    Matt &amp; the Coderwall team
                  </p>

                  <p style="font-size: 13px;line-height: 18px;">
                    P.S. Make sure to follow us on twitter
                    (<a href="https://twitter.com/coderwall" style="color: #3d8dcc;text-decoration: none;font-size: 14px;">@coderwall</a>)
                  </p>

            </table>

          </td>
        </tr>
      </table>
      <img border="0" src="<%= image_path('email/spacer.gif') %>" width="1" height="15" class="divider" alt=""><br>

      <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#48494e">
        <tr>
          <td>
            <center>
              <img border="0" src="<%= image_path('email/spacer.gif') %>" width="1" height="0" alt=""><br>

              <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
                <tr>
                  <td width="600" nowrap bgcolor="#48494e" class="cell">
                    <center>
                      <table width="600" cellpadding="0" cellspacing="0" border="0" class="table" style="text-align: center;">
                        <tr>
                          <td width="380" valign="top" class="footershow">

                            <img border="0" src="<%= image_path('email/spacer.gif') %>" width="1" height="8" alt=""><br>

                            <p style="color:#fff;font-size:12px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';margin-top:0;margin-bottom:15px;padding-top:0;padding-bottom:0;line-height:18px;" class="reminder">You're
                              receiving this email because you signed up for Coderwall. We hate spam and make an effort
                              to keep notifications to a minimum.</p>

                            <p style="color:#c9c9c9;font-size:12px;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';">
                              <strong style="color:#3ca7dd;text-decoration:none;"><a href='https://coderwall.com/settings#email' style="color:#3ca7dd;text-decoration:none;">Edit
                                your subscription</a></strong>
                              &nbsp;&nbsp;|&nbsp;&nbsp;
                              <strong style="color:#3ca7dd;text-decoration:none;"><a href='%unsubscribe_url%' style="color:#3ca7dd;text-decoration:none;">Unsubscribe
                                instantly</a></strong>
                            </p>
                          </td>
                        </tr>
                      </table>
                    </center>
                    <img border="0" src="<%= image_path('email/spacer.gif') %>" width="1" height="25" alt=""><br>

            </center>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

</body>
</html>
