!!! 5
%html.no-js{ lang: 'en' }
  %head
    %title= page_title(yield(:page_title))
    %link{ rel: 'author', href: '/humans.txt' }

    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }

    = render partial: 'shared/analytics'
    = render partial: 'shared/mixpanel'

    = render 'fav_icons'

    = stylesheet_link_tag 'coderwall'

  %body{ style: 'background: #bacbd8;' }
    = yield

<!-- error.html.haml -->
