!!! 5
%html.no-js{lang: 'en'}
  %head
    %title= page_title(yield(:page_title))
    %link{ rel: 'author', href: '/humans.txt' }

    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }

    %meta{ name: 'google', value: 'notranslate' }
    = render partial: 'shared/analytics'
    = render partial: 'shared/mixpanel'

    %meta{ name: 'twitter:account_id', content: ENV['TWITTER_ACCOUNT_ID'] }
    = metamagic

    %link{ rel: 'icon', href: image_url('favicon.png'),    type: 'image/x-icon' }
    %link{ rel: 'icon', href: image_url('fav32x32.png'), type: 'image/x-icon', sizes: '32x32' }
    %link{ rel: 'icon', href: image_url('fav64x64.png'), type: 'image/x-icon', sizes: '64x64' }
    %link{ rel: 'icon', href: image_url('fav128x128.png'), type: 'image/x-icon', sizes: '128x128' }
    %link{ rel: 'shortcut icon', href: image_url('favicon.png'), type: 'image/x-icon' }

    /[if IE] <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1.0,maximum-scale=1.0'}

    = stylesheet_link_tag 'application'
    = csrf_meta_tag

    = yield :head
  %body
    = yield
  = render partial: 'shared/footer'

<!-- home4-layout.html.haml -->
