!!! 5
%html.no-js{lang: "en"}
  %head
    = metamagic
    %link{rel: "shortcut icon", href: image_url('favicon.png'), type: 'image/x-icon'}
    = stylesheet_link_tag 'application'
    = render partial: 'shared/analytics'
    = render partial: 'shared/mixpanel'
    = yield :head
    = csrf_meta_tag
  %body.protip-single
    = render 'nav_bar'

    %canvas.blur{src: image_path(users_background_image)}
    =yield

    - unless is_admin?
      :javascript
        window.console.log = function(){}

    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery_ujs'
    = render partial: 'shared/mixpanel_properties'
    = javascript_include_tag 'highlight/highlight.js'
    = javascript_include_tag 'highlight/language.js'
    = javascript_include_tag 'autosaver.js'
    = javascript_include_tag 'protips'

    = yield :javascript

    = render partial: 'shared/current_user_js'
